
body{
    margin: 7%;
   
}


p{
    font-size: 20px;
    margin-right: 7% ;
    text-align: right;
    
}

.title{
    border-bottom: 2px solid;
   margin-right: 49em;
}
#btn{
    color: black;
    font-weight: 700;
    font-size: 18px;
    
   
}

.list{
    display: flex;
    border: 6px white ridge;
 justify-content: space-between;

 
 

}

body.dark-mode{
    background-color: rgb(32, 32, 32);
    color: aliceblue;
}